html,
body {
  height: 100%;
  width: 100%;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

div.card {
    margin-top: 20%;
    border-radius: 20px;
    box-shadow: 12px 12px 12px #333;
    overflow: hidden;
}


.login-title {
    text-align: center;
}